@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    padding-bottom:0;
    
}
body {
    position:relative;
    min-height: 100vh;
    padding-bottom: 200px;
}
.navbar-light {
    background-color:#B0E0E6!important;
    padding: 1.7%;
}


@media screen and (max-width:480px) {
    .carousel-caption h3, div, p{
        font-size: 10px;
    }
}

.navbar-brand {
    font-size: 27px;
    font-family: 'Alfa Slab One', sans-serif;
    margin-left: 100px;

}

.navbar-nav {
    margin-right: 100px;
    font-size: 20px;
}

#search {
    margin-right: 10px;
}


.navbar {
    margin-bottom: 0px;
    border-radius: 0;
  }
  
 
footer {
    background-color: #f2f2f2;
    padding: 25px;
    margin-top: 2%;
    position: absolute;
    bottom: 0;
}

#foot{
    display: flex;
    justify-content: center;
}
  
#demo {
    width:100%;
    margin-left: auto;
    margin-right: auto;
}
.carousel-control-prev {
    left: 5%;
}
.carousel-control-next {
    right: 5%;
}
.carousel-item .img-fluid {
    width: 100%;
    height: 100%;
}

.carousel-caption {
    color:black;
}

.jumbotron {
    margin-bottom: 0;

    height: 300px;
}
.overlay {
    display: block;
    opacity: 0;
    position: absolute;
    top: 10%;
    margin-left: 0;
    width: 70px;
}
.overlay .btn-secondary {
    background-color: blue;
}
.product-top:hover .overlay
{
    opacity: 1;
    margin-left: -2%;
    transition: 0.5s;
}
#new-arrival{
    width: 100%;
    margin-top: 2%;
}
.product-bottom h5, h6 {
    font-weight:normal;
}
hr.solid {
    border-top: 3px solid #bbb;
  }

.product-top .img-fluid {
    max-height: 200px;
}


/*login*/
.Log-in-form {
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    padding: 20px;
    margin: 3% auto 0;
    text-align: center;
}
.Log-in-form h1 {
    margin-bottom: 30px;
    font-size: 35px;
}

.input-box {
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}
.login-btn {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color:#B0E0E6;
}

#login-head{
    text-align:center;
    line-height: 100px;
    background-color: #B0E0E6;
}
#login-head a{
    text-decoration: none;
    color: black;
    font-size: 27px;
    font-family: 'Alfa Slab One', sans-serif;
}
.errlabel {color:red};

/*product head*/
.phead {
    line-height: 50px;
    background-color: #f2f2f2;
}
.phead a{
    float: left;
    margin-left: 10%;
    text-decoration: none;
    color: black;
    font-size: 27px;
    font-family: 'Yusei Magic', sans-serif;
}
.pfilter {
    float: right;
    margin-right: 10%;
    font-family: 'Yusei Magic', sans-serif;
}

/*product main*/
.panel-primary{
    text-align: center;
}
.panel-body .img-fluid {
    max-height: 220px;
}
.panel-heading, .panel-footer {
    font-size: 20px;
    font-weight: bold;
}


/*cart*/
img{
    max-width: 100%;
    height: auto;
}


.fa-star,
.fa-star-half{
    color: yellowgreen;
    padding: 3% 0;
}

#cart_count{
    text-align: center;
    padding: 0 0.9rem 0.1rem 0.9rem;
    border-radius: 3rem;
}

.shopping-cart{
    padding: 3% 0;
}

.cart-items + .cart-items{
    padding: 2% 0;
}

.price-details h6{
    padding: 3% 2%;
}

.employee-header {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
}

